# Ignore Go build and test files
*.exe
_*.test
_*.test.exe
*.out

# Ignore Go module files
go.mod
go.sum

# Ignore Go cache files
**/*.cache


# Ignore Goland IDE files
.idea

# Ignore Visual Studio Code files
.vscode

# Ignore logs
logs
*.log

# Ignore temp files
*.tmp
*.temp

# Ignore crash reports
crash.log
crashdump-*.log


# Ignore OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Ignore temp files created by code editors
*.swp
*.swo

# Ignore test data
testdata

# Ignore node_modules
node_modules/
.env